
    <div class="main-content">
        <div class="header-content">
            <div class="emp-detail-text">
                Employee Details <div class="emp-count">{{this.employees.length}}</div>
            </div>
            <a href="payrollhome.component.html" class="add-button" routerLink='/addpayroll'>
                <img src="../assets/icons/add-24px.svg" alt="Add User Logo">Add User
            </a>
        </div>
    </div> 
    <table id="table-display" class="table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Gender</th>
            <th>Department</th>
            <th>Salary</th>
            <th>Start Date</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor='let employee of employees'>
            <td>    
                <img class="profile" [src]= "employee.profilePic" alt="">
            </td>
            <td>{{employee.employeeName}}</td>
            <td>{{employee.employeeGender}}</td>
            <td>
                <div class="dept-label">{{employee.employeeDepartment}}</div>
                <div class="dept-label">Finance</div>
            </td>
            <td>{{employee.employeeSalary}}</td>
            <td>{{employee.employeeStartDate}}</td>
            <td>
                <img  
                    src="../assets/icons/delete-black-18dp.svg" routerLink="details"
                    alt="delete" (click)="remove(employee.id)" id={{employee.id}}>
                <img id="1" (click)="updateEmployee(employee.id,employee)" id="{{employee.id}}"
                    routerLink="details" src="../assets/icons/create-black-18dp.svg" alt="edit">
            </td>
        </tr>
    </table>

<!-- <router-outlet></router-outlet> -->